body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #edd2ff;
}

a {
  color: #00B7FF;
}

h1 {
  text-shadow: 0 4px 8px rgba(0,0,0,0.5);
}

p {
  border-bottom-style: dotted;
}

.completed-text {
  color: green;
  font-weight: bold;
}

.not-completed-text {
  color: rgb(80, 0, 0);
}

button {
  border-style: dashed; 
}

button:hover {
  border-style: solid;
  font-weight: bold;
  border-radius: 30px;
}

input::selection {
  border-color: black;
}
